<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PersonasCreateDlg" widgetVar="PersonasCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePersonasTitle}">
            <h:form id="PersonasCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{personasController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePersonasLabel_idPersona}" for="idPersona" />
                        <p:inputText id="idPersona" value="#{personasController.selected.idPersona}" title="#{bundle.CreatePersonasTitle_idPersona}" required="true" requiredMessage="#{bundle.CreatePersonasRequiredMessage_idPersona}"/>
                        <p:outputLabel value="#{bundle.CreatePersonasLabel_numDocumento}" for="numDocumento" />
                        <p:inputText id="numDocumento" value="#{personasController.selected.numDocumento}" title="#{bundle.CreatePersonasTitle_numDocumento}" required="true" requiredMessage="#{bundle.CreatePersonasRequiredMessage_numDocumento}"/>
                        <p:outputLabel value="#{bundle.CreatePersonasLabel_nombres}" for="nombres" />
                        <p:inputText id="nombres" value="#{personasController.selected.nombres}" title="#{bundle.CreatePersonasTitle_nombres}" required="true" requiredMessage="#{bundle.CreatePersonasRequiredMessage_nombres}"/>
                        <p:outputLabel value="#{bundle.CreatePersonasLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{personasController.selected.direccion}" title="#{bundle.CreatePersonasTitle_direccion}" required="true" requiredMessage="#{bundle.CreatePersonasRequiredMessage_direccion}"/>
                        <p:outputLabel value="#{bundle.CreatePersonasLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{personasController.selected.telefono}" title="#{bundle.CreatePersonasTitle_telefono}" required="true" requiredMessage="#{bundle.CreatePersonasRequiredMessage_telefono}"/>
                        <p:outputLabel value="#{bundle.CreatePersonasLabel_email}" for="email" />
                        <p:inputText id="email" value="#{personasController.selected.email}" title="#{bundle.CreatePersonasTitle_email}" required="true" requiredMessage="#{bundle.CreatePersonasRequiredMessage_email}"/>
                        <p:outputLabel value="#{bundle.CreatePersonasLabel_tipoPersona}" for="tipoPersona" />
                       
                        <p:selectOneMenu id="tipoPersona" value="#{personasController.selected.tipoPersona}" style="width: 125px" required="true" requiredMessage="#{bundle.CreatePersonasRequiredMessage_tipoPersona}">
                        <f:selectItem itemLabel="Selecione uno" itemValue=""/>
                        <f:selectItem itemLabel="Proveedor" itemValue="Proveedor"/>
                        <f:selectItem itemLabel="Cliente" itemValue="Cliente"/>
                        <f:selectItem itemLabel="Funcionario" itemValue="Funcionario"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreatePersonasLabel_idTipoDocumento}" for="idTipoDocumento" />
                        <p:selectOneMenu id="idTipoDocumento" value="#{personasController.selected.idTipoDocumento}" required="true" requiredMessage="#{bundle.EditPersonasRequiredMessage_idTipoDocumento}">
                            <f:selectItems value="#{tipoDocumentosController.itemsAvailableSelectOne}"
                                           var="idTipoDocumentoItem"
                                           itemValue="#{idTipoDocumentoItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreatePersonasLabel_idCiudad}" for="idCiudad" />
                        <p:selectOneMenu id="idCiudad" value="#{personasController.selected.idCiudad}" >
                            <f:selectItems value="#{ciudadesController.itemsAvailableSelectOne}"
                                           var="idCiudadItem"
                                           itemValue="#{idCiudadItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{personasController.create}" value="#{bundle.Save}" update="display,:PersonasListForm:datalist,:growl" oncomplete="handleSubmit(args,'PersonasCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PersonasCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
