<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PersonasEditDlg" widgetVar="PersonasEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPersonasTitle}">
            <h:form id="PersonasEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{personasController.selected != null}">
                        <p:outputLabel value="#{bundle.EditPersonasLabel_idPersona}" for="idPersona" />
                        <p:inputText id="idPersona" value="#{personasController.selected.idPersona}" title="#{bundle.EditPersonasTitle_idPersona}" required="true" requiredMessage="#{bundle.EditPersonasRequiredMessage_idPersona}"/>
                        <p:outputLabel value="#{bundle.EditPersonasLabel_numDocumento}" for="numDocumento" />
                        <p:inputText id="numDocumento" value="#{personasController.selected.numDocumento}" title="#{bundle.EditPersonasTitle_numDocumento}" required="true" requiredMessage="#{bundle.EditPersonasRequiredMessage_numDocumento}"/>
                        <p:outputLabel value="#{bundle.EditPersonasLabel_nombres}" for="nombres" />
                        <p:inputText id="nombres" value="#{personasController.selected.nombres}" title="#{bundle.EditPersonasTitle_nombres}" required="true" requiredMessage="#{bundle.EditPersonasRequiredMessage_nombres}"/>
                        <p:outputLabel value="#{bundle.EditPersonasLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{personasController.selected.direccion}" title="#{bundle.EditPersonasTitle_direccion}" required="true" requiredMessage="#{bundle.EditPersonasRequiredMessage_direccion}"/>
                        <p:outputLabel value="#{bundle.EditPersonasLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{personasController.selected.telefono}" title="#{bundle.EditPersonasTitle_telefono}" required="true" requiredMessage="#{bundle.EditPersonasRequiredMessage_telefono}"/>
                        <p:outputLabel value="#{bundle.EditPersonasLabel_email}" for="email" />
                        <p:inputText id="email" value="#{personasController.selected.email}" title="#{bundle.EditPersonasTitle_email}" required="true" requiredMessage="#{bundle.EditPersonasRequiredMessage_email}"/>
                        <p:outputLabel value="#{bundle.EditPersonasLabel_tipoPersona}" for="tipoPersona" />
                        <p:inputText id="tipoPersona" value="#{personasController.selected.tipoPersona}" title="#{bundle.EditPersonasTitle_tipoPersona}" required="true" requiredMessage="#{bundle.EditPersonasRequiredMessage_tipoPersona}"/>
                        <p:outputLabel value="#{bundle.EditPersonasLabel_idTipoDocumento}" for="idTipoDocumento" />
                        <p:selectOneMenu id="idTipoDocumento" value="#{personasController.selected.idTipoDocumento}" required="true" requiredMessage="#{bundle.EditPersonasRequiredMessage_idTipoDocumento}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{tipoDocumentosController.itemsAvailableSelectOne}"
                                           var="idTipoDocumentoItem"
                                           itemValue="#{idTipoDocumentoItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditPersonasLabel_idCiudad}" for="idCiudad" />
                        <p:selectOneMenu id="idCiudad" value="#{personasController.selected.idCiudad}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{ciudadesController.itemsAvailableSelectOne}"
                                           var="idCiudadItem"
                                           itemValue="#{idCiudadItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{personasController.update}" value="#{bundle.Save}" update="display,:PersonasListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PersonasEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PersonasEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
