<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PersonasViewDlg" widgetVar="PersonasViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPersonasTitle}">
            <h:form id="PersonasViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{personasController.selected != null}">
                        <h:outputText value="#{bundle.ViewPersonasLabel_idPersona}"/>
                        <h:outputText value="#{personasController.selected.idPersona}" title="#{bundle.ViewPersonasTitle_idPersona}"/>
                        <h:outputText value="#{bundle.ViewPersonasLabel_numDocumento}"/>
                        <h:outputText value="#{personasController.selected.numDocumento}" title="#{bundle.ViewPersonasTitle_numDocumento}"/>
                        <h:outputText value="#{bundle.ViewPersonasLabel_nombres}"/>
                        <h:outputText value="#{personasController.selected.nombres}" title="#{bundle.ViewPersonasTitle_nombres}"/>
                        <h:outputText value="#{bundle.ViewPersonasLabel_direccion}"/>
                        <h:outputText value="#{personasController.selected.direccion}" title="#{bundle.ViewPersonasTitle_direccion}"/>
                        <h:outputText value="#{bundle.ViewPersonasLabel_telefono}"/>
                        <h:outputText value="#{personasController.selected.telefono}" title="#{bundle.ViewPersonasTitle_telefono}"/>
                        <h:outputText value="#{bundle.ViewPersonasLabel_email}"/>
                        <h:outputText value="#{personasController.selected.email}" title="#{bundle.ViewPersonasTitle_email}"/>
                        <h:outputText value="#{bundle.ViewPersonasLabel_tipoPersona}"/>
                        <h:outputText value="#{personasController.selected.tipoPersona}" title="#{bundle.ViewPersonasTitle_tipoPersona}"/>
                        <h:outputText value="#{bundle.ViewPersonasLabel_idTipoDocumento}"/>
                        <h:outputText value="#{personasController.selected.idTipoDocumento}" title="#{bundle.ViewPersonasTitle_idTipoDocumento}"/>
                        <h:outputText value="#{bundle.ViewPersonasLabel_idCiudad}"/>
                        <h:outputText value="#{personasController.selected.idCiudad}" title="#{bundle.ViewPersonasTitle_idCiudad}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PersonasViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
