<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PagosComprasCreateDlg" widgetVar="PagosComprasCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePagosComprasTitle}">
            <h:form id="PagosComprasCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{pagosComprasController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePagosComprasLabel_idPagoCompra}" for="idPagoCompra" />
                        <p:inputText id="idPagoCompra" value="#{pagosComprasController.selected.idPagoCompra}" title="#{bundle.CreatePagosComprasTitle_idPagoCompra}" required="true" requiredMessage="#{bundle.CreatePagosComprasRequiredMessage_idPagoCompra}"/>
                        <p:outputLabel value="#{bundle.CreatePagosComprasLabel_fechaPago}" for="fechaPago" />
                        <p:calendar id="fechaPago" pattern="MM/dd/yyyy HH:mm:ss" value="#{pagosComprasController.selected.fechaPago}" title="#{bundle.EditPagosComprasTitle_fechaPago}" required="true" requiredMessage="#{bundle.EditPagosComprasRequiredMessage_fechaPago}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreatePagosComprasLabel_valor}" for="valor" />
                        <p:inputText id="valor" value="#{pagosComprasController.selected.valor}" title="#{bundle.CreatePagosComprasTitle_valor}" required="true" requiredMessage="#{bundle.CreatePagosComprasRequiredMessage_valor}"/>
                        <p:outputLabel value="#{bundle.CreatePagosComprasLabel_idFacturaCompra}" for="idFacturaCompra" />
                        <p:selectOneMenu id="idFacturaCompra" value="#{pagosComprasController.selected.idFacturaCompra}" required="true" requiredMessage="#{bundle.EditPagosComprasRequiredMessage_idFacturaCompra}">
                            <f:selectItems value="#{facturasComprasController.itemsAvailableSelectOne}"
                                           var="idFacturaCompraItem"
                                           itemValue="#{idFacturaCompraItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{pagosComprasController.create}" value="#{bundle.Save}" update="display,:PagosComprasListForm:datalist,:growl" oncomplete="handleSubmit(args,'PagosComprasCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PagosComprasCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
