<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListPagosComprasTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="PagosComprasListForm">
                <p:panel header="#{bundle.ListPagosComprasTitle}">
                    <p:dataTable id="datalist" value="#{pagosComprasController.items}" var="item"
                                 selectionMode="single" selection="#{pagosComprasController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idPagoCompra}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPagosComprasTitle_idPagoCompra}"/>
                            </f:facet>
                            <h:outputText value="#{item.idPagoCompra}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPagosComprasTitle_fechaPago}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechaPago}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPagosComprasTitle_valor}"/>
                            </f:facet>
                            <h:outputText value="#{item.valor}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPagosComprasTitle_idFacturaCompra}"/>
                            </f:facet>
                            <h:outputText value="#{item.idFacturaCompra}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{pagosComprasController.prepareCreate}" update=":PagosComprasCreateForm" oncomplete="PF('PagosComprasCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":PagosComprasViewForm" oncomplete="PF('PagosComprasViewDialog').show()" disabled="#{empty pagosComprasController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":PagosComprasEditForm" oncomplete="PF('PagosComprasEditDialog').show()" disabled="#{empty pagosComprasController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{pagosComprasController.destroy}" update=":growl,datalist" disabled="#{empty pagosComprasController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
