<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PagosComprasViewDlg" widgetVar="PagosComprasViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPagosComprasTitle}">
            <h:form id="PagosComprasViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{pagosComprasController.selected != null}">
                        <h:outputText value="#{bundle.ViewPagosComprasLabel_idPagoCompra}"/>
                        <h:outputText value="#{pagosComprasController.selected.idPagoCompra}" title="#{bundle.ViewPagosComprasTitle_idPagoCompra}"/>
                        <h:outputText value="#{bundle.ViewPagosComprasLabel_fechaPago}"/>
                        <h:outputText value="#{pagosComprasController.selected.fechaPago}" title="#{bundle.ViewPagosComprasTitle_fechaPago}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewPagosComprasLabel_valor}"/>
                        <h:outputText value="#{pagosComprasController.selected.valor}" title="#{bundle.ViewPagosComprasTitle_valor}"/>
                        <h:outputText value="#{bundle.ViewPagosComprasLabel_idFacturaCompra}"/>
                        <h:outputText value="#{pagosComprasController.selected.idFacturaCompra}" title="#{bundle.ViewPagosComprasTitle_idFacturaCompra}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PagosComprasViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
