<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DetalleFacturaComprasCreateDlg" widgetVar="DetalleFacturaComprasCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateDetalleFacturaComprasTitle}">
            <h:form id="DetalleFacturaComprasCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{detalleFacturaComprasController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateDetalleFacturaComprasLabel_idDetalleFacturaCompra}" for="idDetalleFacturaCompra" />
                        <p:inputText id="idDetalleFacturaCompra" value="#{detalleFacturaComprasController.selected.idDetalleFacturaCompra}" title="#{bundle.CreateDetalleFacturaComprasTitle_idDetalleFacturaCompra}" required="true" requiredMessage="#{bundle.CreateDetalleFacturaComprasRequiredMessage_idDetalleFacturaCompra}"/>
                        <p:outputLabel value="#{bundle.CreateDetalleFacturaComprasLabel_cantidad}" for="cantidad" />
                        <p:inputText id="cantidad" value="#{detalleFacturaComprasController.selected.cantidad}" title="#{bundle.CreateDetalleFacturaComprasTitle_cantidad}" required="true" requiredMessage="#{bundle.CreateDetalleFacturaComprasRequiredMessage_cantidad}"/>
                        <p:outputLabel value="#{bundle.CreateDetalleFacturaComprasLabel_descuento}" for="descuento" />
                        <p:inputText id="descuento" value="#{detalleFacturaComprasController.selected.descuento}" title="#{bundle.CreateDetalleFacturaComprasTitle_descuento}" required="true" requiredMessage="#{bundle.CreateDetalleFacturaComprasRequiredMessage_descuento}"/>
                        <p:outputLabel value="#{bundle.CreateDetalleFacturaComprasLabel_total}" for="total" />
                        <p:inputText id="total" value="#{detalleFacturaComprasController.selected.total}" title="#{bundle.CreateDetalleFacturaComprasTitle_total}" required="true" requiredMessage="#{bundle.CreateDetalleFacturaComprasRequiredMessage_total}"/>
                        <p:outputLabel value="#{bundle.CreateDetalleFacturaComprasLabel_idFacturaCompra}" for="idFacturaCompra" />
                        <p:selectOneMenu id="idFacturaCompra" value="#{detalleFacturaComprasController.selected.idFacturaCompra}" required="true" requiredMessage="#{bundle.EditDetalleFacturaComprasRequiredMessage_idFacturaCompra}">
                            <f:selectItems value="#{facturasComprasController.itemsAvailableSelectOne}"
                                           var="idFacturaCompraItem"
                                           itemValue="#{idFacturaCompraItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateDetalleFacturaComprasLabel_idInventario}" for="idInventario" />
                        <p:selectOneMenu id="idInventario" value="#{detalleFacturaComprasController.selected.idInventario}" required="true" requiredMessage="#{bundle.EditDetalleFacturaComprasRequiredMessage_idInventario}">
                            <f:selectItems value="#{inventariosController.itemsAvailableSelectOne}"
                                           var="idInventarioItem"
                                           itemValue="#{idInventarioItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{detalleFacturaComprasController.create}" value="#{bundle.Save}" update="display,:DetalleFacturaComprasListForm:datalist,:growl" oncomplete="handleSubmit(args,'DetalleFacturaComprasCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="DetalleFacturaComprasCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
