<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DetalleFacturaComprasEditDlg" widgetVar="DetalleFacturaComprasEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditDetalleFacturaComprasTitle}">
            <h:form id="DetalleFacturaComprasEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{detalleFacturaComprasController.selected != null}">
                        <p:outputLabel value="#{bundle.EditDetalleFacturaComprasLabel_idDetalleFacturaCompra}" for="idDetalleFacturaCompra" />
                        <p:inputText id="idDetalleFacturaCompra" value="#{detalleFacturaComprasController.selected.idDetalleFacturaCompra}" title="#{bundle.EditDetalleFacturaComprasTitle_idDetalleFacturaCompra}" required="true" requiredMessage="#{bundle.EditDetalleFacturaComprasRequiredMessage_idDetalleFacturaCompra}"/>
                        <p:outputLabel value="#{bundle.EditDetalleFacturaComprasLabel_cantidad}" for="cantidad" />
                        <p:inputText id="cantidad" value="#{detalleFacturaComprasController.selected.cantidad}" title="#{bundle.EditDetalleFacturaComprasTitle_cantidad}" required="true" requiredMessage="#{bundle.EditDetalleFacturaComprasRequiredMessage_cantidad}"/>
                        <p:outputLabel value="#{bundle.EditDetalleFacturaComprasLabel_descuento}" for="descuento" />
                        <p:inputText id="descuento" value="#{detalleFacturaComprasController.selected.descuento}" title="#{bundle.EditDetalleFacturaComprasTitle_descuento}" required="true" requiredMessage="#{bundle.EditDetalleFacturaComprasRequiredMessage_descuento}"/>
                        <p:outputLabel value="#{bundle.EditDetalleFacturaComprasLabel_total}" for="total" />
                        <p:inputText id="total" value="#{detalleFacturaComprasController.selected.total}" title="#{bundle.EditDetalleFacturaComprasTitle_total}" required="true" requiredMessage="#{bundle.EditDetalleFacturaComprasRequiredMessage_total}"/>
                        <p:outputLabel value="#{bundle.EditDetalleFacturaComprasLabel_idFacturaCompra}" for="idFacturaCompra" />
                        <p:selectOneMenu id="idFacturaCompra" value="#{detalleFacturaComprasController.selected.idFacturaCompra}" required="true" requiredMessage="#{bundle.EditDetalleFacturaComprasRequiredMessage_idFacturaCompra}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{facturasComprasController.itemsAvailableSelectOne}"
                                           var="idFacturaCompraItem"
                                           itemValue="#{idFacturaCompraItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditDetalleFacturaComprasLabel_idInventario}" for="idInventario" />
                        <p:selectOneMenu id="idInventario" value="#{detalleFacturaComprasController.selected.idInventario}" required="true" requiredMessage="#{bundle.EditDetalleFacturaComprasRequiredMessage_idInventario}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{inventariosController.itemsAvailableSelectOne}"
                                           var="idInventarioItem"
                                           itemValue="#{idInventarioItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{detalleFacturaComprasController.update}" value="#{bundle.Save}" update="display,:DetalleFacturaComprasListForm:datalist,:growl" oncomplete="handleSubmit(args, 'DetalleFacturaComprasEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="DetalleFacturaComprasEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
