<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListDetalleFacturaComprasTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="DetalleFacturaComprasListForm">
                <p:panel header="#{bundle.ListDetalleFacturaComprasTitle}">
                    <p:dataTable id="datalist" value="#{detalleFacturaComprasController.items}" var="item"
                                 selectionMode="single" selection="#{detalleFacturaComprasController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idDetalleFacturaCompra}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetalleFacturaComprasTitle_idDetalleFacturaCompra}"/>
                            </f:facet>
                            <h:outputText value="#{item.idDetalleFacturaCompra}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetalleFacturaComprasTitle_cantidad}"/>
                            </f:facet>
                            <h:outputText value="#{item.cantidad}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetalleFacturaComprasTitle_descuento}"/>
                            </f:facet>
                            <h:outputText value="#{item.descuento}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetalleFacturaComprasTitle_total}"/>
                            </f:facet>
                            <h:outputText value="#{item.total}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetalleFacturaComprasTitle_idFacturaCompra}"/>
                            </f:facet>
                            <h:outputText value="#{item.idFacturaCompra}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetalleFacturaComprasTitle_idInventario}"/>
                            </f:facet>
                            <h:outputText value="#{item.idInventario}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{detalleFacturaComprasController.prepareCreate}" update=":DetalleFacturaComprasCreateForm" oncomplete="PF('DetalleFacturaComprasCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":DetalleFacturaComprasViewForm" oncomplete="PF('DetalleFacturaComprasViewDialog').show()" disabled="#{empty detalleFacturaComprasController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":DetalleFacturaComprasEditForm" oncomplete="PF('DetalleFacturaComprasEditDialog').show()" disabled="#{empty detalleFacturaComprasController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{detalleFacturaComprasController.destroy}" update=":growl,datalist" disabled="#{empty detalleFacturaComprasController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
