<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DetalleFacturaComprasViewDlg" widgetVar="DetalleFacturaComprasViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewDetalleFacturaComprasTitle}">
            <h:form id="DetalleFacturaComprasViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{detalleFacturaComprasController.selected != null}">
                        <h:outputText value="#{bundle.ViewDetalleFacturaComprasLabel_idDetalleFacturaCompra}"/>
                        <h:outputText value="#{detalleFacturaComprasController.selected.idDetalleFacturaCompra}" title="#{bundle.ViewDetalleFacturaComprasTitle_idDetalleFacturaCompra}"/>
                        <h:outputText value="#{bundle.ViewDetalleFacturaComprasLabel_cantidad}"/>
                        <h:outputText value="#{detalleFacturaComprasController.selected.cantidad}" title="#{bundle.ViewDetalleFacturaComprasTitle_cantidad}"/>
                        <h:outputText value="#{bundle.ViewDetalleFacturaComprasLabel_descuento}"/>
                        <h:outputText value="#{detalleFacturaComprasController.selected.descuento}" title="#{bundle.ViewDetalleFacturaComprasTitle_descuento}"/>
                        <h:outputText value="#{bundle.ViewDetalleFacturaComprasLabel_total}"/>
                        <h:outputText value="#{detalleFacturaComprasController.selected.total}" title="#{bundle.ViewDetalleFacturaComprasTitle_total}"/>
                        <h:outputText value="#{bundle.ViewDetalleFacturaComprasLabel_idFacturaCompra}"/>
                        <h:outputText value="#{detalleFacturaComprasController.selected.idFacturaCompra}" title="#{bundle.ViewDetalleFacturaComprasTitle_idFacturaCompra}"/>
                        <h:outputText value="#{bundle.ViewDetalleFacturaComprasLabel_idInventario}"/>
                        <h:outputText value="#{detalleFacturaComprasController.selected.idInventario}" title="#{bundle.ViewDetalleFacturaComprasTitle_idInventario}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="DetalleFacturaComprasViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
