<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SucursalesEditDlg" widgetVar="SucursalesEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditSucursalesTitle}">
            <h:form id="SucursalesEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{sucursalesController.selected != null}">
                        <p:outputLabel value="#{bundle.EditSucursalesLabel_idSucursal}" for="idSucursal" />
                        <p:inputText id="idSucursal" value="#{sucursalesController.selected.idSucursal}" title="#{bundle.EditSucursalesTitle_idSucursal}" required="true" requiredMessage="#{bundle.EditSucursalesRequiredMessage_idSucursal}"/>
                        <p:outputLabel value="#{bundle.EditSucursalesLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{sucursalesController.selected.direccion}" title="#{bundle.EditSucursalesTitle_direccion}" required="true" requiredMessage="#{bundle.EditSucursalesRequiredMessage_direccion}"/>
                        <p:outputLabel value="#{bundle.EditSucursalesLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{sucursalesController.selected.telefono}" title="#{bundle.EditSucursalesTitle_telefono}" required="true" requiredMessage="#{bundle.EditSucursalesRequiredMessage_telefono}"/>
                        <p:outputLabel value="#{bundle.EditSucursalesLabel_email}" for="email" />
                        <p:inputText id="email" value="#{sucursalesController.selected.email}" title="#{bundle.EditSucursalesTitle_email}" />
                        <p:outputLabel value="#{bundle.EditSucursalesLabel_ultimaActualizacion}" for="ultimaActualizacion" />
                        <p:calendar id="ultimaActualizacion" pattern="MM/dd/yyyy HH:mm:ss" value="#{sucursalesController.selected.ultimaActualizacion}" title="#{bundle.EditSucursalesTitle_ultimaActualizacion}" required="true" requiredMessage="#{bundle.EditSucursalesRequiredMessage_ultimaActualizacion}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditSucursalesLabel_idCiudad}" for="idCiudad" />
                        <p:selectOneMenu id="idCiudad" value="#{sucursalesController.selected.idCiudad}" required="true" requiredMessage="#{bundle.EditSucursalesRequiredMessage_idCiudad}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{ciudadesController.itemsAvailableSelectOne}"
                                           var="idCiudadItem"
                                           itemValue="#{idCiudadItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditSucursalesLabel_idEmpresa}" for="idEmpresa" />
                        <p:selectOneMenu id="idEmpresa" value="#{sucursalesController.selected.idEmpresa}" required="true" requiredMessage="#{bundle.EditSucursalesRequiredMessage_idEmpresa}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{empresasController.itemsAvailableSelectOne}"
                                           var="idEmpresaItem"
                                           itemValue="#{idEmpresaItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditSucursalesLabel_idAdministrador}" for="idAdministrador" />
                        <p:selectOneMenu id="idAdministrador" value="#{sucursalesController.selected.idAdministrador}" required="true" requiredMessage="#{bundle.EditSucursalesRequiredMessage_idAdministrador}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{personasController.itemsAvailableSelectOne}"
                                           var="idAdministradorItem"
                                           itemValue="#{idAdministradorItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditSucursalesLabel_idRazonSocial}" for="idRazonSocial" />
                        <p:selectOneMenu id="idRazonSocial" value="#{sucursalesController.selected.idRazonSocial}" required="true" requiredMessage="#{bundle.EditSucursalesRequiredMessage_idRazonSocial}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{razonesSocialesController.itemsAvailableSelectOne}"
                                           var="idRazonSocialItem"
                                           itemValue="#{idRazonSocialItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{sucursalesController.update}" value="#{bundle.Save}" update="display,:SucursalesListForm:datalist,:growl" oncomplete="handleSubmit(args, 'SucursalesEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="SucursalesEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
