<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SucursalesViewDlg" widgetVar="SucursalesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewSucursalesTitle}">
            <h:form id="SucursalesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{sucursalesController.selected != null}">
                        <h:outputText value="#{bundle.ViewSucursalesLabel_idSucursal}"/>
                        <h:outputText value="#{sucursalesController.selected.idSucursal}" title="#{bundle.ViewSucursalesTitle_idSucursal}"/>
                        <h:outputText value="#{bundle.ViewSucursalesLabel_direccion}"/>
                        <h:outputText value="#{sucursalesController.selected.direccion}" title="#{bundle.ViewSucursalesTitle_direccion}"/>
                        <h:outputText value="#{bundle.ViewSucursalesLabel_telefono}"/>
                        <h:outputText value="#{sucursalesController.selected.telefono}" title="#{bundle.ViewSucursalesTitle_telefono}"/>
                        <h:outputText value="#{bundle.ViewSucursalesLabel_email}"/>
                        <h:outputText value="#{sucursalesController.selected.email}" title="#{bundle.ViewSucursalesTitle_email}"/>
                        <h:outputText value="#{bundle.ViewSucursalesLabel_ultimaActualizacion}"/>
                        <h:outputText value="#{sucursalesController.selected.ultimaActualizacion}" title="#{bundle.ViewSucursalesTitle_ultimaActualizacion}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewSucursalesLabel_idCiudad}"/>
                        <h:outputText value="#{sucursalesController.selected.idCiudad}" title="#{bundle.ViewSucursalesTitle_idCiudad}"/>
                        <h:outputText value="#{bundle.ViewSucursalesLabel_idEmpresa}"/>
                        <h:outputText value="#{sucursalesController.selected.idEmpresa}" title="#{bundle.ViewSucursalesTitle_idEmpresa}"/>
                        <h:outputText value="#{bundle.ViewSucursalesLabel_idAdministrador}"/>
                        <h:outputText value="#{sucursalesController.selected.idAdministrador}" title="#{bundle.ViewSucursalesTitle_idAdministrador}"/>
                        <h:outputText value="#{bundle.ViewSucursalesLabel_idRazonSocial}"/>
                        <h:outputText value="#{sucursalesController.selected.idRazonSocial}" title="#{bundle.ViewSucursalesTitle_idRazonSocial}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="SucursalesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
