<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoDocumentosCreateDlg" widgetVar="TipoDocumentosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateTipoDocumentosTitle}">
            <h:form id="TipoDocumentosCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipoDocumentosController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateTipoDocumentosLabel_idTipoDocumento}" for="idTipoDocumento" />
                        <p:inputText id="idTipoDocumento" value="#{tipoDocumentosController.selected.idTipoDocumento}" title="#{bundle.CreateTipoDocumentosTitle_idTipoDocumento}" required="true" requiredMessage="#{bundle.CreateTipoDocumentosRequiredMessage_idTipoDocumento}"/>
                        <p:outputLabel value="#{bundle.CreateTipoDocumentosLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{tipoDocumentosController.selected.nombre}" title="#{bundle.CreateTipoDocumentosTitle_nombre}" required="true" requiredMessage="#{bundle.CreateTipoDocumentosRequiredMessage_nombre}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{tipoDocumentosController.create}" value="#{bundle.Save}" update="display,:TipoDocumentosListForm:datalist,:growl" oncomplete="handleSubmit(args,'TipoDocumentosCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TipoDocumentosCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
