<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="HoldingsCreateDlg" widgetVar="HoldingsCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateHoldingsTitle}">
            <h:form id="HoldingsCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{holdingsController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateHoldingsLabel_idHolding}" for="idHolding" />
                        <p:inputText id="idHolding" value="#{holdingsController.selected.idHolding}" title="#{bundle.CreateHoldingsTitle_idHolding}" required="true" requiredMessage="#{bundle.CreateHoldingsRequiredMessage_idHolding}"/>
                        <p:outputLabel value="#{bundle.CreateHoldingsLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{holdingsController.selected.nombre}" title="#{bundle.CreateHoldingsTitle_nombre}" required="true" requiredMessage="#{bundle.CreateHoldingsRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.CreateHoldingsLabel_ultimaActualizacion}" for="ultimaActualizacion" />
                        <p:calendar id="ultimaActualizacion" pattern="MM/dd/yyyy HH:mm:ss" value="#{holdingsController.selected.ultimaActualizacion}" title="#{bundle.EditHoldingsTitle_ultimaActualizacion}" required="true" requiredMessage="#{bundle.EditHoldingsRequiredMessage_ultimaActualizacion}" showOn="button"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{holdingsController.create}" value="#{bundle.Save}" update="display,:HoldingsListForm:datalist,:growl" oncomplete="handleSubmit(args,'HoldingsCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="HoldingsCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
