<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="HoldingsViewDlg" widgetVar="HoldingsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewHoldingsTitle}">
            <h:form id="HoldingsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{holdingsController.selected != null}">
                        <h:outputText value="#{bundle.ViewHoldingsLabel_idHolding}"/>
                        <h:outputText value="#{holdingsController.selected.idHolding}" title="#{bundle.ViewHoldingsTitle_idHolding}"/>
                        <h:outputText value="#{bundle.ViewHoldingsLabel_nombre}"/>
                        <h:outputText value="#{holdingsController.selected.nombre}" title="#{bundle.ViewHoldingsTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewHoldingsLabel_ultimaActualizacion}"/>
                        <h:outputText value="#{holdingsController.selected.ultimaActualizacion}" title="#{bundle.ViewHoldingsTitle_ultimaActualizacion}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="HoldingsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
