<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RazonesSocialesCreateDlg" widgetVar="RazonesSocialesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateRazonesSocialesTitle}">
            <h:form id="RazonesSocialesCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{razonesSocialesController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateRazonesSocialesLabel_idRazonSocial}" for="idRazonSocial" />
                        <p:inputText id="idRazonSocial" value="#{razonesSocialesController.selected.idRazonSocial}" title="#{bundle.CreateRazonesSocialesTitle_idRazonSocial}" required="true" requiredMessage="#{bundle.CreateRazonesSocialesRequiredMessage_idRazonSocial}"/>
                        <p:outputLabel value="#{bundle.CreateRazonesSocialesLabel_nit}" for="nit" />
                        <p:inputText id="nit" value="#{razonesSocialesController.selected.nit}" title="#{bundle.CreateRazonesSocialesTitle_nit}" required="true" requiredMessage="#{bundle.CreateRazonesSocialesRequiredMessage_nit}"/>
                        <p:outputLabel value="#{bundle.CreateRazonesSocialesLabel_tipoContribuyente}" for="tipoContribuyente" />
                        <p:inputText id="tipoContribuyente" value="#{razonesSocialesController.selected.tipoContribuyente}" title="#{bundle.CreateRazonesSocialesTitle_tipoContribuyente}" required="true" requiredMessage="#{bundle.CreateRazonesSocialesRequiredMessage_tipoContribuyente}"/>
                        <p:outputLabel value="#{bundle.CreateRazonesSocialesLabel_razonSocial}" for="razonSocial" />
                        <p:inputText id="razonSocial" value="#{razonesSocialesController.selected.razonSocial}" title="#{bundle.CreateRazonesSocialesTitle_razonSocial}" required="true" requiredMessage="#{bundle.CreateRazonesSocialesRequiredMessage_razonSocial}"/>
                        <p:outputLabel value="#{bundle.CreateRazonesSocialesLabel_nombreComercial}" for="nombreComercial" />
                        <p:inputText id="nombreComercial" value="#{razonesSocialesController.selected.nombreComercial}" title="#{bundle.CreateRazonesSocialesTitle_nombreComercial}" />
                        <p:outputLabel value="#{bundle.CreateRazonesSocialesLabel_rutImagen}" for="rutImagen" />
                        <p:inputText id="rutImagen" value="#{razonesSocialesController.selected.rutImagen}" title="#{bundle.CreateRazonesSocialesTitle_rutImagen}" />
                        <p:outputLabel value="#{bundle.CreateRazonesSocialesLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{razonesSocialesController.selected.direccion}" title="#{bundle.CreateRazonesSocialesTitle_direccion}" />
                        <p:outputLabel value="#{bundle.CreateRazonesSocialesLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{razonesSocialesController.selected.telefono}" title="#{bundle.CreateRazonesSocialesTitle_telefono}" />
                        <p:outputLabel value="#{bundle.CreateRazonesSocialesLabel_ultimaActualizacion}" for="ultimaActualizacion" />
                        <p:calendar id="ultimaActualizacion" pattern="MM/dd/yyyy HH:mm:ss" value="#{razonesSocialesController.selected.ultimaActualizacion}" title="#{bundle.EditRazonesSocialesTitle_ultimaActualizacion}" required="true" requiredMessage="#{bundle.EditRazonesSocialesRequiredMessage_ultimaActualizacion}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateRazonesSocialesLabel_idTipoContribuyente}" for="idTipoContribuyente" />
                        <p:selectOneMenu id="idTipoContribuyente" value="#{razonesSocialesController.selected.idTipoContribuyente}" required="true" requiredMessage="#{bundle.EditRazonesSocialesRequiredMessage_idTipoContribuyente}">
                            <f:selectItems value="#{tipoContribuyenteController.itemsAvailableSelectOne}"
                                           var="idTipoContribuyenteItem"
                                           itemValue="#{idTipoContribuyenteItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateRazonesSocialesLabel_idRegimenDian}" for="idRegimenDian" />
                        <p:selectOneMenu id="idRegimenDian" value="#{razonesSocialesController.selected.idRegimenDian}" required="true" requiredMessage="#{bundle.EditRazonesSocialesRequiredMessage_idRegimenDian}">
                            <f:selectItems value="#{regimenesDianController.itemsAvailableSelectOne}"
                                           var="idRegimenDianItem"
                                           itemValue="#{idRegimenDianItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{razonesSocialesController.create}" value="#{bundle.Save}" update="display,:RazonesSocialesListForm:datalist,:growl" oncomplete="handleSubmit(args,'RazonesSocialesCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RazonesSocialesCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
