<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RazonesSocialesEditDlg" widgetVar="RazonesSocialesEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditRazonesSocialesTitle}">
            <h:form id="RazonesSocialesEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{razonesSocialesController.selected != null}">
                        <p:outputLabel value="#{bundle.EditRazonesSocialesLabel_idRazonSocial}" for="idRazonSocial" />
                        <p:inputText id="idRazonSocial" value="#{razonesSocialesController.selected.idRazonSocial}" title="#{bundle.EditRazonesSocialesTitle_idRazonSocial}" required="true" requiredMessage="#{bundle.EditRazonesSocialesRequiredMessage_idRazonSocial}"/>
                        <p:outputLabel value="#{bundle.EditRazonesSocialesLabel_nit}" for="nit" />
                        <p:inputText id="nit" value="#{razonesSocialesController.selected.nit}" title="#{bundle.EditRazonesSocialesTitle_nit}" required="true" requiredMessage="#{bundle.EditRazonesSocialesRequiredMessage_nit}"/>
                        <p:outputLabel value="#{bundle.EditRazonesSocialesLabel_tipoContribuyente}" for="tipoContribuyente" />
                        <p:inputText id="tipoContribuyente" value="#{razonesSocialesController.selected.tipoContribuyente}" title="#{bundle.EditRazonesSocialesTitle_tipoContribuyente}" required="true" requiredMessage="#{bundle.EditRazonesSocialesRequiredMessage_tipoContribuyente}"/>
                        <p:outputLabel value="#{bundle.EditRazonesSocialesLabel_razonSocial}" for="razonSocial" />
                        <p:inputText id="razonSocial" value="#{razonesSocialesController.selected.razonSocial}" title="#{bundle.EditRazonesSocialesTitle_razonSocial}" required="true" requiredMessage="#{bundle.EditRazonesSocialesRequiredMessage_razonSocial}"/>
                        <p:outputLabel value="#{bundle.EditRazonesSocialesLabel_nombreComercial}" for="nombreComercial" />
                        <p:inputText id="nombreComercial" value="#{razonesSocialesController.selected.nombreComercial}" title="#{bundle.EditRazonesSocialesTitle_nombreComercial}" />
                        <p:outputLabel value="#{bundle.EditRazonesSocialesLabel_rutImagen}" for="rutImagen" />
                        <p:inputText id="rutImagen" value="#{razonesSocialesController.selected.rutImagen}" title="#{bundle.EditRazonesSocialesTitle_rutImagen}" />
                        <p:outputLabel value="#{bundle.EditRazonesSocialesLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{razonesSocialesController.selected.direccion}" title="#{bundle.EditRazonesSocialesTitle_direccion}" />
                        <p:outputLabel value="#{bundle.EditRazonesSocialesLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{razonesSocialesController.selected.telefono}" title="#{bundle.EditRazonesSocialesTitle_telefono}" />
                        <p:outputLabel value="#{bundle.EditRazonesSocialesLabel_ultimaActualizacion}" for="ultimaActualizacion" />
                        <p:calendar id="ultimaActualizacion" pattern="MM/dd/yyyy HH:mm:ss" value="#{razonesSocialesController.selected.ultimaActualizacion}" title="#{bundle.EditRazonesSocialesTitle_ultimaActualizacion}" required="true" requiredMessage="#{bundle.EditRazonesSocialesRequiredMessage_ultimaActualizacion}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditRazonesSocialesLabel_idTipoContribuyente}" for="idTipoContribuyente" />
                        <p:selectOneMenu id="idTipoContribuyente" value="#{razonesSocialesController.selected.idTipoContribuyente}" required="true" requiredMessage="#{bundle.EditRazonesSocialesRequiredMessage_idTipoContribuyente}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{tipoContribuyenteController.itemsAvailableSelectOne}"
                                           var="idTipoContribuyenteItem"
                                           itemValue="#{idTipoContribuyenteItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditRazonesSocialesLabel_idRegimenDian}" for="idRegimenDian" />
                        <p:selectOneMenu id="idRegimenDian" value="#{razonesSocialesController.selected.idRegimenDian}" required="true" requiredMessage="#{bundle.EditRazonesSocialesRequiredMessage_idRegimenDian}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{regimenesDianController.itemsAvailableSelectOne}"
                                           var="idRegimenDianItem"
                                           itemValue="#{idRegimenDianItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{razonesSocialesController.update}" value="#{bundle.Save}" update="display,:RazonesSocialesListForm:datalist,:growl" oncomplete="handleSubmit(args, 'RazonesSocialesEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RazonesSocialesEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
