<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListRazonesSocialesTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="RazonesSocialesListForm">
                <p:panel header="#{bundle.ListRazonesSocialesTitle}">
                    <p:dataTable id="datalist" value="#{razonesSocialesController.items}" var="item"
                                 selectionMode="single" selection="#{razonesSocialesController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idRazonSocial}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRazonesSocialesTitle_idRazonSocial}"/>
                            </f:facet>
                            <h:outputText value="#{item.idRazonSocial}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRazonesSocialesTitle_nit}"/>
                            </f:facet>
                            <h:outputText value="#{item.nit}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRazonesSocialesTitle_tipoContribuyente}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipoContribuyente}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRazonesSocialesTitle_razonSocial}"/>
                            </f:facet>
                            <h:outputText value="#{item.razonSocial}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRazonesSocialesTitle_nombreComercial}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombreComercial}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRazonesSocialesTitle_rutImagen}"/>
                            </f:facet>
                            <h:outputText value="#{item.rutImagen}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRazonesSocialesTitle_direccion}"/>
                            </f:facet>
                            <h:outputText value="#{item.direccion}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRazonesSocialesTitle_telefono}"/>
                            </f:facet>
                            <h:outputText value="#{item.telefono}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRazonesSocialesTitle_ultimaActualizacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.ultimaActualizacion}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRazonesSocialesTitle_idTipoContribuyente}"/>
                            </f:facet>
                            <h:outputText value="#{item.idTipoContribuyente}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRazonesSocialesTitle_idRegimenDian}"/>
                            </f:facet>
                            <h:outputText value="#{item.idRegimenDian}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{razonesSocialesController.prepareCreate}" update=":RazonesSocialesCreateForm" oncomplete="PF('RazonesSocialesCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":RazonesSocialesViewForm" oncomplete="PF('RazonesSocialesViewDialog').show()" disabled="#{empty razonesSocialesController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":RazonesSocialesEditForm" oncomplete="PF('RazonesSocialesEditDialog').show()" disabled="#{empty razonesSocialesController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{razonesSocialesController.destroy}" update=":growl,datalist" disabled="#{empty razonesSocialesController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
