<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RazonesSocialesViewDlg" widgetVar="RazonesSocialesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRazonesSocialesTitle}">
            <h:form id="RazonesSocialesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{razonesSocialesController.selected != null}">
                        <h:outputText value="#{bundle.ViewRazonesSocialesLabel_idRazonSocial}"/>
                        <h:outputText value="#{razonesSocialesController.selected.idRazonSocial}" title="#{bundle.ViewRazonesSocialesTitle_idRazonSocial}"/>
                        <h:outputText value="#{bundle.ViewRazonesSocialesLabel_nit}"/>
                        <h:outputText value="#{razonesSocialesController.selected.nit}" title="#{bundle.ViewRazonesSocialesTitle_nit}"/>
                        <h:outputText value="#{bundle.ViewRazonesSocialesLabel_tipoContribuyente}"/>
                        <h:outputText value="#{razonesSocialesController.selected.tipoContribuyente}" title="#{bundle.ViewRazonesSocialesTitle_tipoContribuyente}"/>
                        <h:outputText value="#{bundle.ViewRazonesSocialesLabel_razonSocial}"/>
                        <h:outputText value="#{razonesSocialesController.selected.razonSocial}" title="#{bundle.ViewRazonesSocialesTitle_razonSocial}"/>
                        <h:outputText value="#{bundle.ViewRazonesSocialesLabel_nombreComercial}"/>
                        <h:outputText value="#{razonesSocialesController.selected.nombreComercial}" title="#{bundle.ViewRazonesSocialesTitle_nombreComercial}"/>
                        <h:outputText value="#{bundle.ViewRazonesSocialesLabel_rutImagen}"/>
                        <h:outputText value="#{razonesSocialesController.selected.rutImagen}" title="#{bundle.ViewRazonesSocialesTitle_rutImagen}"/>
                        <h:outputText value="#{bundle.ViewRazonesSocialesLabel_direccion}"/>
                        <h:outputText value="#{razonesSocialesController.selected.direccion}" title="#{bundle.ViewRazonesSocialesTitle_direccion}"/>
                        <h:outputText value="#{bundle.ViewRazonesSocialesLabel_telefono}"/>
                        <h:outputText value="#{razonesSocialesController.selected.telefono}" title="#{bundle.ViewRazonesSocialesTitle_telefono}"/>
                        <h:outputText value="#{bundle.ViewRazonesSocialesLabel_ultimaActualizacion}"/>
                        <h:outputText value="#{razonesSocialesController.selected.ultimaActualizacion}" title="#{bundle.ViewRazonesSocialesTitle_ultimaActualizacion}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewRazonesSocialesLabel_idTipoContribuyente}"/>
                        <h:outputText value="#{razonesSocialesController.selected.idTipoContribuyente}" title="#{bundle.ViewRazonesSocialesTitle_idTipoContribuyente}"/>
                        <h:outputText value="#{bundle.ViewRazonesSocialesLabel_idRegimenDian}"/>
                        <h:outputText value="#{razonesSocialesController.selected.idRegimenDian}" title="#{bundle.ViewRazonesSocialesTitle_idRegimenDian}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RazonesSocialesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
