<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CiudadesViewDlg" widgetVar="CiudadesViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCiudadesTitle}">
            <h:form id="CiudadesViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{ciudadesController.selected != null}">
                        <h:outputText value="#{bundle.ViewCiudadesLabel_idCiudad}"/>
                        <h:outputText value="#{ciudadesController.selected.idCiudad}" title="#{bundle.ViewCiudadesTitle_idCiudad}"/>
                        <h:outputText value="#{bundle.ViewCiudadesLabel_nombre}"/>
                        <h:outputText value="#{ciudadesController.selected.nombre}" title="#{bundle.ViewCiudadesTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewCiudadesLabel_idDepartamento}"/>
                        <h:outputText value="#{ciudadesController.selected.idDepartamento}" title="#{bundle.ViewCiudadesTitle_idDepartamento}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CiudadesViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
