<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoProductoEditDlg" widgetVar="TipoProductoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditTipoProductoTitle}">
            <h:form id="TipoProductoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipoProductoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditTipoProductoLabel_idTipoProducto}" for="idTipoProducto" />
                        <p:inputText id="idTipoProducto" value="#{tipoProductoController.selected.idTipoProducto}" title="#{bundle.EditTipoProductoTitle_idTipoProducto}" required="true" requiredMessage="#{bundle.EditTipoProductoRequiredMessage_idTipoProducto}"/>
                        <p:outputLabel value="#{bundle.EditTipoProductoLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{tipoProductoController.selected.nombre}" title="#{bundle.EditTipoProductoTitle_nombre}" required="true" requiredMessage="#{bundle.EditTipoProductoRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.EditTipoProductoLabel_idClaseProducto}" for="idClaseProducto" />
                        <p:selectOneMenu id="idClaseProducto" value="#{tipoProductoController.selected.idClaseProducto}" required="true" requiredMessage="#{bundle.EditTipoProductoRequiredMessage_idClaseProducto}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{claseProductoController.itemsAvailableSelectOne}"
                                           var="idClaseProductoItem"
                                           itemValue="#{idClaseProductoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{tipoProductoController.update}" value="#{bundle.Save}" update="display,:TipoProductoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'TipoProductoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TipoProductoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
