<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoProductoViewDlg" widgetVar="TipoProductoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewTipoProductoTitle}">
            <h:form id="TipoProductoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipoProductoController.selected != null}">
                        <h:outputText value="#{bundle.ViewTipoProductoLabel_idTipoProducto}"/>
                        <h:outputText value="#{tipoProductoController.selected.idTipoProducto}" title="#{bundle.ViewTipoProductoTitle_idTipoProducto}"/>
                        <h:outputText value="#{bundle.ViewTipoProductoLabel_nombre}"/>
                        <h:outputText value="#{tipoProductoController.selected.nombre}" title="#{bundle.ViewTipoProductoTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewTipoProductoLabel_idClaseProducto}"/>
                        <h:outputText value="#{tipoProductoController.selected.idClaseProducto}" title="#{bundle.ViewTipoProductoTitle_idClaseProducto}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="TipoProductoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
