<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoContribuyenteEditDlg" widgetVar="TipoContribuyenteEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditTipoContribuyenteTitle}">
            <h:form id="TipoContribuyenteEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipoContribuyenteController.selected != null}">
                        <p:outputLabel value="#{bundle.EditTipoContribuyenteLabel_idTipoContribuyente}" for="idTipoContribuyente" />
                        <p:inputText id="idTipoContribuyente" value="#{tipoContribuyenteController.selected.idTipoContribuyente}" title="#{bundle.EditTipoContribuyenteTitle_idTipoContribuyente}" required="true" requiredMessage="#{bundle.EditTipoContribuyenteRequiredMessage_idTipoContribuyente}"/>
                        <p:outputLabel value="#{bundle.EditTipoContribuyenteLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{tipoContribuyenteController.selected.nombre}" title="#{bundle.EditTipoContribuyenteTitle_nombre}" required="true" requiredMessage="#{bundle.EditTipoContribuyenteRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.EditTipoContribuyenteLabel_ultimaActualizacion}" for="ultimaActualizacion" />
                        <p:calendar id="ultimaActualizacion" pattern="MM/dd/yyyy HH:mm:ss" value="#{tipoContribuyenteController.selected.ultimaActualizacion}" title="#{bundle.EditTipoContribuyenteTitle_ultimaActualizacion}" required="true" requiredMessage="#{bundle.EditTipoContribuyenteRequiredMessage_ultimaActualizacion}" showOn="button"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{tipoContribuyenteController.update}" value="#{bundle.Save}" update="display,:TipoContribuyenteListForm:datalist,:growl" oncomplete="handleSubmit(args, 'TipoContribuyenteEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TipoContribuyenteEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
