<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipoContribuyenteViewDlg" widgetVar="TipoContribuyenteViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewTipoContribuyenteTitle}">
            <h:form id="TipoContribuyenteViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipoContribuyenteController.selected != null}">
                        <h:outputText value="#{bundle.ViewTipoContribuyenteLabel_idTipoContribuyente}"/>
                        <h:outputText value="#{tipoContribuyenteController.selected.idTipoContribuyente}" title="#{bundle.ViewTipoContribuyenteTitle_idTipoContribuyente}"/>
                        <h:outputText value="#{bundle.ViewTipoContribuyenteLabel_nombre}"/>
                        <h:outputText value="#{tipoContribuyenteController.selected.nombre}" title="#{bundle.ViewTipoContribuyenteTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewTipoContribuyenteLabel_ultimaActualizacion}"/>
                        <h:outputText value="#{tipoContribuyenteController.selected.ultimaActualizacion}" title="#{bundle.ViewTipoContribuyenteTitle_ultimaActualizacion}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="TipoContribuyenteViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
