<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductosEditDlg" widgetVar="ProductosEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditProductosTitle}">
            <h:form id="ProductosEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{productosController.selected != null}">
                        <p:outputLabel value="#{bundle.EditProductosLabel_idProducto}" for="idProducto" />
                        <p:inputText id="idProducto" value="#{productosController.selected.idProducto}" title="#{bundle.EditProductosTitle_idProducto}" required="true" requiredMessage="#{bundle.EditProductosRequiredMessage_idProducto}"/>
                        <p:outputLabel value="#{bundle.EditProductosLabel_codigoBarras}" for="codigoBarras" />
                        <p:inputText id="codigoBarras" value="#{productosController.selected.codigoBarras}" title="#{bundle.EditProductosTitle_codigoBarras}" />
                        <p:outputLabel value="#{bundle.EditProductosLabel_modeloReferencia}" for="modeloReferencia" />
                        <p:inputText id="modeloReferencia" value="#{productosController.selected.modeloReferencia}" title="#{bundle.EditProductosTitle_modeloReferencia}" required="true" requiredMessage="#{bundle.EditProductosRequiredMessage_modeloReferencia}"/>
                        <p:outputLabel value="#{bundle.EditProductosLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{productosController.selected.descripcion}" title="#{bundle.EditProductosTitle_descripcion}" required="true" requiredMessage="#{bundle.EditProductosRequiredMessage_descripcion}"/>
                        <p:outputLabel value="#{bundle.EditProductosLabel_costo}" for="costo" />
                        <p:inputText id="costo" value="#{productosController.selected.costo}" title="#{bundle.EditProductosTitle_costo}" required="true" requiredMessage="#{bundle.EditProductosRequiredMessage_costo}"/>
                        <p:outputLabel value="#{bundle.EditProductosLabel_precio}" for="precio" />
                        <p:inputText id="precio" value="#{productosController.selected.precio}" title="#{bundle.EditProductosTitle_precio}" required="true" requiredMessage="#{bundle.EditProductosRequiredMessage_precio}"/>
                        <p:outputLabel value="#{bundle.EditProductosLabel_serial}" for="serial" />
                        <p:inputText id="serial" value="#{productosController.selected.serial}" title="#{bundle.EditProductosTitle_serial}" />
                        <p:outputLabel value="#{bundle.EditProductosLabel_imagen}" for="imagen" />
                        <p:inputText id="imagen" value="#{productosController.selected.imagen}" title="#{bundle.EditProductosTitle_imagen}" />
                        <p:outputLabel value="#{bundle.EditProductosLabel_idCategoria}" for="idCategoria" />
                        <p:selectOneMenu id="idCategoria" value="#{productosController.selected.idCategoria}" required="true" requiredMessage="#{bundle.EditProductosRequiredMessage_idCategoria}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{tipoProductoController.itemsAvailableSelectOne}"
                                           var="idCategoriaItem"
                                           itemValue="#{idCategoriaItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditProductosLabel_idImpuesto}" for="idImpuesto" />
                        <p:selectOneMenu id="idImpuesto" value="#{productosController.selected.idImpuesto}" required="true" requiredMessage="#{bundle.EditProductosRequiredMessage_idImpuesto}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{impuestosController.itemsAvailableSelectOne}"
                                           var="idImpuestoItem"
                                           itemValue="#{idImpuestoItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditProductosLabel_idMarca}" for="idMarca" />
                        <p:selectOneMenu id="idMarca" value="#{productosController.selected.idMarca}" required="true" requiredMessage="#{bundle.EditProductosRequiredMessage_idMarca}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{marcasController.itemsAvailableSelectOne}"
                                           var="idMarcaItem"
                                           itemValue="#{idMarcaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{productosController.update}" value="#{bundle.Save}" update="display,:ProductosListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ProductosEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProductosEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
