<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductosViewDlg" widgetVar="ProductosViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProductosTitle}">
            <h:form id="ProductosViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{productosController.selected != null}">
                        <h:outputText value="#{bundle.ViewProductosLabel_idProducto}"/>
                        <h:outputText value="#{productosController.selected.idProducto}" title="#{bundle.ViewProductosTitle_idProducto}"/>
                        <h:outputText value="#{bundle.ViewProductosLabel_codigoBarras}"/>
                        <h:outputText value="#{productosController.selected.codigoBarras}" title="#{bundle.ViewProductosTitle_codigoBarras}"/>
                        <h:outputText value="#{bundle.ViewProductosLabel_modeloReferencia}"/>
                        <h:outputText value="#{productosController.selected.modeloReferencia}" title="#{bundle.ViewProductosTitle_modeloReferencia}"/>
                        <h:outputText value="#{bundle.ViewProductosLabel_descripcion}"/>
                        <h:outputText value="#{productosController.selected.descripcion}" title="#{bundle.ViewProductosTitle_descripcion}"/>
                        <h:outputText value="#{bundle.ViewProductosLabel_costo}"/>
                        <h:outputText value="#{productosController.selected.costo}" title="#{bundle.ViewProductosTitle_costo}"/>
                        <h:outputText value="#{bundle.ViewProductosLabel_precio}"/>
                        <h:outputText value="#{productosController.selected.precio}" title="#{bundle.ViewProductosTitle_precio}"/>
                        <h:outputText value="#{bundle.ViewProductosLabel_serial}"/>
                        <h:outputText value="#{productosController.selected.serial}" title="#{bundle.ViewProductosTitle_serial}"/>
                        <h:outputText value="#{bundle.ViewProductosLabel_imagen}"/>
                        <h:outputText value="#{productosController.selected.imagen}" title="#{bundle.ViewProductosTitle_imagen}"/>
                        <h:outputText value="#{bundle.ViewProductosLabel_idCategoria}"/>
                        <h:outputText value="#{productosController.selected.idCategoria}" title="#{bundle.ViewProductosTitle_idCategoria}"/>
                        <h:outputText value="#{bundle.ViewProductosLabel_idImpuesto}"/>
                        <h:outputText value="#{productosController.selected.idImpuesto}" title="#{bundle.ViewProductosTitle_idImpuesto}"/>
                        <h:outputText value="#{bundle.ViewProductosLabel_idMarca}"/>
                        <h:outputText value="#{productosController.selected.idMarca}" title="#{bundle.ViewProductosTitle_idMarca}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProductosViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
