<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DepartamentosViewDlg" widgetVar="DepartamentosViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewDepartamentosTitle}">
            <h:form id="DepartamentosViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{departamentosController.selected != null}">
                        <h:outputText value="#{bundle.ViewDepartamentosLabel_idDepartamento}"/>
                        <h:outputText value="#{departamentosController.selected.idDepartamento}" title="#{bundle.ViewDepartamentosTitle_idDepartamento}"/>
                        <h:outputText value="#{bundle.ViewDepartamentosLabel_nombre}"/>
                        <h:outputText value="#{departamentosController.selected.nombre}" title="#{bundle.ViewDepartamentosTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewDepartamentosLabel_idPais}"/>
                        <h:outputText value="#{departamentosController.selected.idPais}" title="#{bundle.ViewDepartamentosTitle_idPais}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="DepartamentosViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
