<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FacturasComprasCreateDlg" widgetVar="FacturasComprasCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateFacturasComprasTitle}">
            <h:form id="FacturasComprasCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{facturasComprasController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateFacturasComprasLabel_idFacturaCompra}" for="idFacturaCompra" />
                        <p:inputText id="idFacturaCompra" value="#{facturasComprasController.selected.idFacturaCompra}" title="#{bundle.CreateFacturasComprasTitle_idFacturaCompra}" required="true" requiredMessage="#{bundle.CreateFacturasComprasRequiredMessage_idFacturaCompra}"/>
                        <p:outputLabel value="#{bundle.CreateFacturasComprasLabel_fecha}" for="fecha" />
                        <p:calendar id="fecha" pattern="MM/dd/yyyy HH:mm:ss" value="#{facturasComprasController.selected.fecha}" title="#{bundle.EditFacturasComprasTitle_fecha}" required="true" requiredMessage="#{bundle.EditFacturasComprasRequiredMessage_fecha}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateFacturasComprasLabel_numeroFactura}" for="numeroFactura" />
                        <p:inputText id="numeroFactura" value="#{facturasComprasController.selected.numeroFactura}" title="#{bundle.CreateFacturasComprasTitle_numeroFactura}" required="true" requiredMessage="#{bundle.CreateFacturasComprasRequiredMessage_numeroFactura}"/>
                        <p:outputLabel value="#{bundle.CreateFacturasComprasLabel_subTotal}" for="subTotal" />
                        <p:inputText id="subTotal" value="#{facturasComprasController.selected.subTotal}" title="#{bundle.CreateFacturasComprasTitle_subTotal}" />
                        <p:outputLabel value="#{bundle.CreateFacturasComprasLabel_descuentoTotal}" for="descuentoTotal" />
                        <p:calendar id="descuentoTotal" pattern="MM/dd/yyyy HH:mm:ss" value="#{facturasComprasController.selected.descuentoTotal}" title="#{bundle.EditFacturasComprasTitle_descuentoTotal}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateFacturasComprasLabel_impuesto}" for="impuesto" />
                        <p:inputText id="impuesto" value="#{facturasComprasController.selected.impuesto}" title="#{bundle.CreateFacturasComprasTitle_impuesto}" />
                        <p:outputLabel value="#{bundle.CreateFacturasComprasLabel_total}" for="total" />
                        <p:inputText id="total" value="#{facturasComprasController.selected.total}" title="#{bundle.CreateFacturasComprasTitle_total}" />
                        <p:outputLabel value="#{bundle.CreateFacturasComprasLabel_idFormasPago}" for="idFormasPago" />
                        <p:selectOneMenu id="idFormasPago" value="#{facturasComprasController.selected.idFormasPago}" required="true" requiredMessage="#{bundle.EditFacturasComprasRequiredMessage_idFormasPago}">
                            <f:selectItems value="#{formasPagoController.itemsAvailableSelectOne}"
                                           var="idFormasPagoItem"
                                           itemValue="#{idFormasPagoItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateFacturasComprasLabel_idProveedor}" for="idProveedor" />
                        <p:selectOneMenu id="idProveedor" value="#{facturasComprasController.selected.idProveedor}" required="true" requiredMessage="#{bundle.EditFacturasComprasRequiredMessage_idProveedor}">
                            <f:selectItems value="#{personasController.itemsAvailableSelectOne}"
                                           var="idProveedorItem"
                                           itemValue="#{idProveedorItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateFacturasComprasLabel_idSucursal}" for="idSucursal" />
                        <p:selectOneMenu id="idSucursal" value="#{facturasComprasController.selected.idSucursal}" required="true" requiredMessage="#{bundle.EditFacturasComprasRequiredMessage_idSucursal}">
                            <f:selectItems value="#{sucursalesController.itemsAvailableSelectOne}"
                                           var="idSucursalItem"
                                           itemValue="#{idSucursalItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{facturasComprasController.create}" value="#{bundle.Save}" update="display,:FacturasComprasListForm:datalist,:growl" oncomplete="handleSubmit(args,'FacturasComprasCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="FacturasComprasCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
