<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListFacturasComprasTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="FacturasComprasListForm">
                <p:panel header="#{bundle.ListFacturasComprasTitle}">
                    <p:dataTable id="datalist" value="#{facturasComprasController.items}" var="item"
                                 selectionMode="single" selection="#{facturasComprasController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idFacturaCompra}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFacturasComprasTitle_idFacturaCompra}"/>
                            </f:facet>
                            <h:outputText value="#{item.idFacturaCompra}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFacturasComprasTitle_fecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecha}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFacturasComprasTitle_numeroFactura}"/>
                            </f:facet>
                            <h:outputText value="#{item.numeroFactura}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFacturasComprasTitle_subTotal}"/>
                            </f:facet>
                            <h:outputText value="#{item.subTotal}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFacturasComprasTitle_descuentoTotal}"/>
                            </f:facet>
                            <h:outputText value="#{item.descuentoTotal}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFacturasComprasTitle_impuesto}"/>
                            </f:facet>
                            <h:outputText value="#{item.impuesto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFacturasComprasTitle_total}"/>
                            </f:facet>
                            <h:outputText value="#{item.total}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFacturasComprasTitle_idFormasPago}"/>
                            </f:facet>
                            <h:outputText value="#{item.idFormasPago}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFacturasComprasTitle_idProveedor}"/>
                            </f:facet>
                            <h:outputText value="#{item.idProveedor}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListFacturasComprasTitle_idSucursal}"/>
                            </f:facet>
                            <h:outputText value="#{item.idSucursal}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{facturasComprasController.prepareCreate}" update=":FacturasComprasCreateForm" oncomplete="PF('FacturasComprasCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":FacturasComprasViewForm" oncomplete="PF('FacturasComprasViewDialog').show()" disabled="#{empty facturasComprasController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":FacturasComprasEditForm" oncomplete="PF('FacturasComprasEditDialog').show()" disabled="#{empty facturasComprasController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{facturasComprasController.destroy}" update=":growl,datalist" disabled="#{empty facturasComprasController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
