<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FacturasComprasViewDlg" widgetVar="FacturasComprasViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewFacturasComprasTitle}">
            <h:form id="FacturasComprasViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{facturasComprasController.selected != null}">
                        <h:outputText value="#{bundle.ViewFacturasComprasLabel_idFacturaCompra}"/>
                        <h:outputText value="#{facturasComprasController.selected.idFacturaCompra}" title="#{bundle.ViewFacturasComprasTitle_idFacturaCompra}"/>
                        <h:outputText value="#{bundle.ViewFacturasComprasLabel_fecha}"/>
                        <h:outputText value="#{facturasComprasController.selected.fecha}" title="#{bundle.ViewFacturasComprasTitle_fecha}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewFacturasComprasLabel_numeroFactura}"/>
                        <h:outputText value="#{facturasComprasController.selected.numeroFactura}" title="#{bundle.ViewFacturasComprasTitle_numeroFactura}"/>
                        <h:outputText value="#{bundle.ViewFacturasComprasLabel_subTotal}"/>
                        <h:outputText value="#{facturasComprasController.selected.subTotal}" title="#{bundle.ViewFacturasComprasTitle_subTotal}"/>
                        <h:outputText value="#{bundle.ViewFacturasComprasLabel_descuentoTotal}"/>
                        <h:outputText value="#{facturasComprasController.selected.descuentoTotal}" title="#{bundle.ViewFacturasComprasTitle_descuentoTotal}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewFacturasComprasLabel_impuesto}"/>
                        <h:outputText value="#{facturasComprasController.selected.impuesto}" title="#{bundle.ViewFacturasComprasTitle_impuesto}"/>
                        <h:outputText value="#{bundle.ViewFacturasComprasLabel_total}"/>
                        <h:outputText value="#{facturasComprasController.selected.total}" title="#{bundle.ViewFacturasComprasTitle_total}"/>
                        <h:outputText value="#{bundle.ViewFacturasComprasLabel_idFormasPago}"/>
                        <h:outputText value="#{facturasComprasController.selected.idFormasPago}" title="#{bundle.ViewFacturasComprasTitle_idFormasPago}"/>
                        <h:outputText value="#{bundle.ViewFacturasComprasLabel_idProveedor}"/>
                        <h:outputText value="#{facturasComprasController.selected.idProveedor}" title="#{bundle.ViewFacturasComprasTitle_idProveedor}"/>
                        <h:outputText value="#{bundle.ViewFacturasComprasLabel_idSucursal}"/>
                        <h:outputText value="#{facturasComprasController.selected.idSucursal}" title="#{bundle.ViewFacturasComprasTitle_idSucursal}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="FacturasComprasViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
