<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FormasPagoCreateDlg" widgetVar="FormasPagoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateFormasPagoTitle}">
            <h:form id="FormasPagoCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{formasPagoController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateFormasPagoLabel_idFormasPago}" for="idFormasPago" />
                        <p:inputText id="idFormasPago" value="#{formasPagoController.selected.idFormasPago}" title="#{bundle.CreateFormasPagoTitle_idFormasPago}" required="true" requiredMessage="#{bundle.CreateFormasPagoRequiredMessage_idFormasPago}"/>
                        <p:outputLabel value="#{bundle.CreateFormasPagoLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{formasPagoController.selected.nombre}" title="#{bundle.CreateFormasPagoTitle_nombre}" required="true" requiredMessage="#{bundle.CreateFormasPagoRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.CreateFormasPagoLabel_dias}" for="dias" />
                        <p:inputText id="dias" value="#{formasPagoController.selected.dias}" title="#{bundle.CreateFormasPagoTitle_dias}" required="true" requiredMessage="#{bundle.CreateFormasPagoRequiredMessage_dias}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{formasPagoController.create}" value="#{bundle.Save}" update="display,:FormasPagoListForm:datalist,:growl" oncomplete="handleSubmit(args,'FormasPagoCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="FormasPagoCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
