<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FormasPagoViewDlg" widgetVar="FormasPagoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewFormasPagoTitle}">
            <h:form id="FormasPagoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{formasPagoController.selected != null}">
                        <h:outputText value="#{bundle.ViewFormasPagoLabel_idFormasPago}"/>
                        <h:outputText value="#{formasPagoController.selected.idFormasPago}" title="#{bundle.ViewFormasPagoTitle_idFormasPago}"/>
                        <h:outputText value="#{bundle.ViewFormasPagoLabel_nombre}"/>
                        <h:outputText value="#{formasPagoController.selected.nombre}" title="#{bundle.ViewFormasPagoTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewFormasPagoLabel_dias}"/>
                        <h:outputText value="#{formasPagoController.selected.dias}" title="#{bundle.ViewFormasPagoTitle_dias}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="FormasPagoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
