<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ImpuestosCreateDlg" widgetVar="ImpuestosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateImpuestosTitle}">
            <h:form id="ImpuestosCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{impuestosController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateImpuestosLabel_idImpuesto}" for="idImpuesto" />
                        <p:inputText id="idImpuesto" value="#{impuestosController.selected.idImpuesto}" title="#{bundle.CreateImpuestosTitle_idImpuesto}" required="true" requiredMessage="#{bundle.CreateImpuestosRequiredMessage_idImpuesto}"/>
                        <p:outputLabel value="#{bundle.CreateImpuestosLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{impuestosController.selected.nombre}" title="#{bundle.CreateImpuestosTitle_nombre}" required="true" requiredMessage="#{bundle.CreateImpuestosRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.CreateImpuestosLabel_porcentaje}" for="porcentaje" />
                        <p:inputText id="porcentaje" value="#{impuestosController.selected.porcentaje}" title="#{bundle.CreateImpuestosTitle_porcentaje}" required="true" requiredMessage="#{bundle.CreateImpuestosRequiredMessage_porcentaje}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{impuestosController.create}" value="#{bundle.Save}" update="display,:ImpuestosListForm:datalist,:growl" oncomplete="handleSubmit(args,'ImpuestosCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ImpuestosCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
