<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ImpuestosViewDlg" widgetVar="ImpuestosViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewImpuestosTitle}">
            <h:form id="ImpuestosViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{impuestosController.selected != null}">
                        <h:outputText value="#{bundle.ViewImpuestosLabel_idImpuesto}"/>
                        <h:outputText value="#{impuestosController.selected.idImpuesto}" title="#{bundle.ViewImpuestosTitle_idImpuesto}"/>
                        <h:outputText value="#{bundle.ViewImpuestosLabel_nombre}"/>
                        <h:outputText value="#{impuestosController.selected.nombre}" title="#{bundle.ViewImpuestosTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewImpuestosLabel_porcentaje}"/>
                        <h:outputText value="#{impuestosController.selected.porcentaje}" title="#{bundle.ViewImpuestosTitle_porcentaje}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ImpuestosViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
