<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="InventariosCreateDlg" widgetVar="InventariosCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateInventariosTitle}">
            <h:form id="InventariosCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{inventariosController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateInventariosLabel_idInventario}" for="idInventario" />
                        <p:inputText id="idInventario" value="#{inventariosController.selected.idInventario}" title="#{bundle.CreateInventariosTitle_idInventario}" required="true" requiredMessage="#{bundle.CreateInventariosRequiredMessage_idInventario}"/>
                        <p:outputLabel value="#{bundle.CreateInventariosLabel_existencia}" for="existencia" />
                        <p:inputText id="existencia" value="#{inventariosController.selected.existencia}" title="#{bundle.CreateInventariosTitle_existencia}" required="true" requiredMessage="#{bundle.CreateInventariosRequiredMessage_existencia}"/>
                        <p:outputLabel value="#{bundle.CreateInventariosLabel_idProducto}" for="idProducto" />
                        <p:selectOneMenu id="idProducto" value="#{inventariosController.selected.idProducto}" required="true" requiredMessage="#{bundle.EditInventariosRequiredMessage_idProducto}">
                            <f:selectItems value="#{productosController.itemsAvailableSelectOne}"
                                           var="idProductoItem"
                                           itemValue="#{idProductoItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateInventariosLabel_idSucursal}" for="idSucursal" />
                        <p:selectOneMenu id="idSucursal" value="#{inventariosController.selected.idSucursal}" required="true" requiredMessage="#{bundle.EditInventariosRequiredMessage_idSucursal}">
                            <f:selectItems value="#{sucursalesController.itemsAvailableSelectOne}"
                                           var="idSucursalItem"
                                           itemValue="#{idSucursalItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{inventariosController.create}" value="#{bundle.Save}" update="display,:InventariosListForm:datalist,:growl" oncomplete="handleSubmit(args,'InventariosCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="InventariosCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
