<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="InventariosViewDlg" widgetVar="InventariosViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewInventariosTitle}">
            <h:form id="InventariosViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{inventariosController.selected != null}">
                        <h:outputText value="#{bundle.ViewInventariosLabel_idInventario}"/>
                        <h:outputText value="#{inventariosController.selected.idInventario}" title="#{bundle.ViewInventariosTitle_idInventario}"/>
                        <h:outputText value="#{bundle.ViewInventariosLabel_existencia}"/>
                        <h:outputText value="#{inventariosController.selected.existencia}" title="#{bundle.ViewInventariosTitle_existencia}"/>
                        <h:outputText value="#{bundle.ViewInventariosLabel_idProducto}"/>
                        <h:outputText value="#{inventariosController.selected.idProducto}" title="#{bundle.ViewInventariosTitle_idProducto}"/>
                        <h:outputText value="#{bundle.ViewInventariosLabel_idSucursal}"/>
                        <h:outputText value="#{inventariosController.selected.idSucursal}" title="#{bundle.ViewInventariosTitle_idSucursal}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="InventariosViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
