<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClaseProductoEditDlg" widgetVar="ClaseProductoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditClaseProductoTitle}">
            <h:form id="ClaseProductoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{claseProductoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditClaseProductoLabel_idClaseProducto}" for="idClaseProducto" />
                        <p:inputText id="idClaseProducto" value="#{claseProductoController.selected.idClaseProducto}" title="#{bundle.EditClaseProductoTitle_idClaseProducto}" required="true" requiredMessage="#{bundle.EditClaseProductoRequiredMessage_idClaseProducto}"/>
                        <p:outputLabel value="#{bundle.EditClaseProductoLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{claseProductoController.selected.nombre}" title="#{bundle.EditClaseProductoTitle_nombre}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{claseProductoController.update}" value="#{bundle.Save}" update="display,:ClaseProductoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ClaseProductoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ClaseProductoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
