<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClaseProductoViewDlg" widgetVar="ClaseProductoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewClaseProductoTitle}">
            <h:form id="ClaseProductoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{claseProductoController.selected != null}">
                        <h:outputText value="#{bundle.ViewClaseProductoLabel_idClaseProducto}"/>
                        <h:outputText value="#{claseProductoController.selected.idClaseProducto}" title="#{bundle.ViewClaseProductoTitle_idClaseProducto}"/>
                        <h:outputText value="#{bundle.ViewClaseProductoLabel_nombre}"/>
                        <h:outputText value="#{claseProductoController.selected.nombre}" title="#{bundle.ViewClaseProductoTitle_nombre}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ClaseProductoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
