<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RegimenesDianEditDlg" widgetVar="RegimenesDianEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditRegimenesDianTitle}">
            <h:form id="RegimenesDianEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{regimenesDianController.selected != null}">
                        <p:outputLabel value="#{bundle.EditRegimenesDianLabel_idRegimenesDian}" for="idRegimenesDian" />
                        <p:inputText id="idRegimenesDian" value="#{regimenesDianController.selected.idRegimenesDian}" title="#{bundle.EditRegimenesDianTitle_idRegimenesDian}" required="true" requiredMessage="#{bundle.EditRegimenesDianRequiredMessage_idRegimenesDian}"/>
                        <p:outputLabel value="#{bundle.EditRegimenesDianLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{regimenesDianController.selected.nombre}" title="#{bundle.EditRegimenesDianTitle_nombre}" required="true" requiredMessage="#{bundle.EditRegimenesDianRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.EditRegimenesDianLabel_ultimaActualizacion}" for="ultimaActualizacion" />
                        <p:calendar id="ultimaActualizacion" pattern="MM/dd/yyyy HH:mm:ss" value="#{regimenesDianController.selected.ultimaActualizacion}" title="#{bundle.EditRegimenesDianTitle_ultimaActualizacion}" required="true" requiredMessage="#{bundle.EditRegimenesDianRequiredMessage_ultimaActualizacion}" showOn="button"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{regimenesDianController.update}" value="#{bundle.Save}" update="display,:RegimenesDianListForm:datalist,:growl" oncomplete="handleSubmit(args, 'RegimenesDianEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RegimenesDianEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
