<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListRegimenesDianTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="RegimenesDianListForm">
                <p:panel header="#{bundle.ListRegimenesDianTitle}">
                    <p:dataTable id="datalist" value="#{regimenesDianController.items}" var="item"
                                 selectionMode="single" selection="#{regimenesDianController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idRegimenesDian}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRegimenesDianTitle_idRegimenesDian}"/>
                            </f:facet>
                            <h:outputText value="#{item.idRegimenesDian}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRegimenesDianTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRegimenesDianTitle_ultimaActualizacion}"/>
                            </f:facet>
                            <h:outputText value="#{item.ultimaActualizacion}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{regimenesDianController.prepareCreate}" update=":RegimenesDianCreateForm" oncomplete="PF('RegimenesDianCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":RegimenesDianViewForm" oncomplete="PF('RegimenesDianViewDialog').show()" disabled="#{empty regimenesDianController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":RegimenesDianEditForm" oncomplete="PF('RegimenesDianEditDialog').show()" disabled="#{empty regimenesDianController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{regimenesDianController.destroy}" update=":growl,datalist" disabled="#{empty regimenesDianController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
