<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RegimenesDianViewDlg" widgetVar="RegimenesDianViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRegimenesDianTitle}">
            <h:form id="RegimenesDianViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{regimenesDianController.selected != null}">
                        <h:outputText value="#{bundle.ViewRegimenesDianLabel_idRegimenesDian}"/>
                        <h:outputText value="#{regimenesDianController.selected.idRegimenesDian}" title="#{bundle.ViewRegimenesDianTitle_idRegimenesDian}"/>
                        <h:outputText value="#{bundle.ViewRegimenesDianLabel_nombre}"/>
                        <h:outputText value="#{regimenesDianController.selected.nombre}" title="#{bundle.ViewRegimenesDianTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewRegimenesDianLabel_ultimaActualizacion}"/>
                        <h:outputText value="#{regimenesDianController.selected.ultimaActualizacion}" title="#{bundle.ViewRegimenesDianTitle_ultimaActualizacion}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RegimenesDianViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
