<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <br />
        <h:link outcome="/ciudades/List" value="Show All Ciudades Items"/>
        <br />
        <h:link outcome="/claseProducto/List" value="Show All ClaseProducto Items"/>
        <br />
        <h:link outcome="/departamentos/List" value="Show All Departamentos Items"/>
        <br />
        <h:link outcome="/detalleFacturaCompras/List" value="Show All DetalleFacturaCompras Items"/>
        <br />
        <h:link outcome="/empresas/List" value="Show All Empresas Items"/>
        <br />
        <h:link outcome="/facturasCompras/List" value="Show All FacturasCompras Items"/>
        <br />
        <h:link outcome="/formasPago/List" value="Show All FormasPago Items"/>
        <br />
        <h:link outcome="/holdings/List" value="Show All Holdings Items"/>
        <br />
        <h:link outcome="/impuestos/List" value="Show All Impuestos Items"/>
        <br />
        <h:link outcome="/inventarios/List" value="Show All Inventarios Items"/>
        <br />
        <h:link outcome="/marcas/List" value="Show All Marcas Items"/>
        <br />
        <h:link outcome="/pagosCompras/List" value="Show All PagosCompras Items"/>
        <br />
        <h:link outcome="/paises/List" value="Show All Paises Items"/>
        <br />
        <h:link outcome="/personas/List" value="Show All Personas Items"/>
        <br />
        <h:link outcome="/productos/List" value="Show All Productos Items"/>
        <br />
        <h:link outcome="/razonesSociales/List" value="Show All RazonesSociales Items"/>
        <br />
        <h:link outcome="/regimenesDian/List" value="Show All RegimenesDian Items"/>
        <br />
        <h:link outcome="/sucursales/List" value="Show All Sucursales Items"/>
        <br />
        <h:link outcome="/tipoContribuyente/List" value="Show All TipoContribuyente Items"/>
        <br />
        <h:link outcome="/tipoDocumentos/List" value="Show All TipoDocumentos Items"/>
        <br />
        <h:link outcome="/tipoProducto/List" value="Show All TipoProducto Items"/>
    </h:body>





















</html>

