<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
    </h:head>

    <h:body>

        <p:growl id="growl" life="3000" />

        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="65" header="#{bundle.AppName}">
                <h:form id="menuForm">
                    <p:menubar>
                        <p:menuitem value="#{bundle.Home}" outcome="/index" icon="ui-icon-home"/>
                        <p:submenu label="#{bundle.Maintenance}">
                            <p:menuitem value="Ciudades" outcome="/ciudades/List.xhtml" />
                            <p:menuitem value="ClaseProducto" outcome="/claseProducto/List.xhtml" />
                            <p:menuitem value="Departamentos" outcome="/departamentos/List.xhtml" />
                            <p:menuitem value="DetalleFacturaCompras" outcome="/detalleFacturaCompras/List.xhtml" />
                            <p:menuitem value="Empresas" outcome="/empresas/List.xhtml" />
                            <p:menuitem value="FacturasCompras" outcome="/facturasCompras/List.xhtml" />
                            <p:menuitem value="FormasPago" outcome="/formasPago/List.xhtml" />
                            <p:menuitem value="Holdings" outcome="/holdings/List.xhtml" />
                            <p:menuitem value="Impuestos" outcome="/impuestos/List.xhtml" />
                            <p:menuitem value="Inventarios" outcome="/inventarios/List.xhtml" />
                            <p:menuitem value="Marcas" outcome="/marcas/List.xhtml" />
                            <p:menuitem value="PagosCompras" outcome="/pagosCompras/List.xhtml" />
                            <p:menuitem value="Paises" outcome="/paises/List.xhtml" />
                            <p:menuitem value="Personas" outcome="/personas/List.xhtml" />
                            <p:menuitem value="Productos" outcome="/productos/List.xhtml" />
                            <p:menuitem value="RazonesSociales" outcome="/razonesSociales/List.xhtml" />
                            <p:menuitem value="RegimenesDian" outcome="/regimenesDian/List.xhtml" />
                            <p:menuitem value="Sucursales" outcome="/sucursales/List.xhtml" />
                            <p:menuitem value="TipoContribuyente" outcome="/tipoContribuyente/List.xhtml" />
                            <p:menuitem value="TipoDocumentos" outcome="/tipoDocumentos/List.xhtml" />
                            <p:menuitem value="TipoProducto" outcome="/tipoProducto/List.xhtml" />
                        </p:submenu>
                    </p:menubar>
                </h:form>
            </p:layoutUnit>

            <p:layoutUnit position="south" size="60">
                <ui:insert name="footer"/>
            </p:layoutUnit>

            <p:layoutUnit position="center">
                <ui:insert name="body"/>
            </p:layoutUnit>

        </p:layout>

    </h:body>

</html>
