<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmpresasCreateDlg" widgetVar="EmpresasCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateEmpresasTitle}">
            <h:form id="EmpresasCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{empresasController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateEmpresasLabel_idEmpresa}" for="idEmpresa" />
                        <p:inputText id="idEmpresa" value="#{empresasController.selected.idEmpresa}" title="#{bundle.CreateEmpresasTitle_idEmpresa}" required="true" requiredMessage="#{bundle.CreateEmpresasRequiredMessage_idEmpresa}"/>
                        <p:outputLabel value="#{bundle.CreateEmpresasLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{empresasController.selected.nombre}" title="#{bundle.CreateEmpresasTitle_nombre}" required="true" requiredMessage="#{bundle.CreateEmpresasRequiredMessage_nombre}"/>
                        <p:outputLabel value="#{bundle.CreateEmpresasLabel_ultimaActualizacion}" for="ultimaActualizacion" />
                        <p:calendar id="ultimaActualizacion" pattern="MM/dd/yyyy HH:mm:ss" value="#{empresasController.selected.ultimaActualizacion}" title="#{bundle.EditEmpresasTitle_ultimaActualizacion}" required="true" requiredMessage="#{bundle.EditEmpresasRequiredMessage_ultimaActualizacion}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateEmpresasLabel_idHolding}" for="idHolding" />
                        <p:selectOneMenu id="idHolding" value="#{empresasController.selected.idHolding}" required="true" requiredMessage="#{bundle.EditEmpresasRequiredMessage_idHolding}">
                            <f:selectItems value="#{holdingsController.itemsAvailableSelectOne}"
                                           var="idHoldingItem"
                                           itemValue="#{idHoldingItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateEmpresasLabel_idRazonSocial}" for="idRazonSocial" />
                        <p:selectOneMenu id="idRazonSocial" value="#{empresasController.selected.idRazonSocial}" required="true" requiredMessage="#{bundle.EditEmpresasRequiredMessage_idRazonSocial}">
                            <f:selectItems value="#{razonesSocialesController.itemsAvailableSelectOne}"
                                           var="idRazonSocialItem"
                                           itemValue="#{idRazonSocialItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{empresasController.create}" value="#{bundle.Save}" update="display,:EmpresasListForm:datalist,:growl" oncomplete="handleSubmit(args,'EmpresasCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EmpresasCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
