<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmpresasViewDlg" widgetVar="EmpresasViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewEmpresasTitle}">
            <h:form id="EmpresasViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{empresasController.selected != null}">
                        <h:outputText value="#{bundle.ViewEmpresasLabel_idEmpresa}"/>
                        <h:outputText value="#{empresasController.selected.idEmpresa}" title="#{bundle.ViewEmpresasTitle_idEmpresa}"/>
                        <h:outputText value="#{bundle.ViewEmpresasLabel_nombre}"/>
                        <h:outputText value="#{empresasController.selected.nombre}" title="#{bundle.ViewEmpresasTitle_nombre}"/>
                        <h:outputText value="#{bundle.ViewEmpresasLabel_ultimaActualizacion}"/>
                        <h:outputText value="#{empresasController.selected.ultimaActualizacion}" title="#{bundle.ViewEmpresasTitle_ultimaActualizacion}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewEmpresasLabel_idHolding}"/>
                        <h:outputText value="#{empresasController.selected.idHolding}" title="#{bundle.ViewEmpresasTitle_idHolding}"/>
                        <h:outputText value="#{bundle.ViewEmpresasLabel_idRazonSocial}"/>
                        <h:outputText value="#{empresasController.selected.idRazonSocial}" title="#{bundle.ViewEmpresasTitle_idRazonSocial}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="EmpresasViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
